@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap'); /* Getting a new Font*/

*{
    margin: 0; /*Zera todos os elementos padroes do navegador para tirar os espaçamentos*/
    padding: 0;
    border: 0;

}


body{

    background-color: #7159c1;
    font-family: 'Asap', sans-serif;

}

header{
    
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box; 
}

.links{
    
    font-size: 22px;

}

.links a + a{
    margin-left: 22px;
}

.links a{
    text-decoration: none;
}